# /usr/lib/systemd/system/game-DIRNAME.service
[Unit]
Description=DIRNAME service
After=network.target

[Service]
WorkingDirectory=/root/DIRNAME
ExecStart=/root/DIRNAME/node
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=game-DIRNAME
Restart=always
RestartSec=10s
